body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:rosybrown; 
    padding: 10%;

}

.chico azul {
   width: 99%; 
   height:50px;
   border: 1px; color: rosybrown;
   margin-bottom: 8px;

}

.azul {

   background-color: aqua; 
}

.grande {
    width: 99%;
    height: 100px;
    border: 1px; color: rosybrown;
    margin-bottom: 8px;
}

.container{
    width: 100%;
    margin-bottom: 8px;
    }

.mediano {
    display: inline-block;
    width: 49%;
    height: 100%;
    border: 1px; color: rosybrown;
    
}

.margin-derecho{
    margin-right: 4px;

}