/*

.- ¿qué afecta  a  mi página global?

.-¿ o lo hago especifico?


---> Global.


*/

*{ font-family: Arial,  sans-serif;
         color: black;
}

#Titulo-principal {
   font: size 24px; text-transform: uppercase; 
   font-weight: bold;
   text-align: center;
   
   
}

.listas-sin-vineta {
    list-style-type: none;
    font: size 18px; 
    padding: 10px;
    border-bottom-width:1px;color: lightgray;
    background-color:white;
    transition:lightyellow.5s 
    


}
